@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #2e75cc;
}

h3 {
  font-size: 16px;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 20px 0 10px;
  color: #2e75cc;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

label {
  display: inline-block;
  margin: 10px 0;
}

.resultsLabel {
  margin: 0 5px;
}

span {
  letter-spacing: 0.5px;
  margin: 0;
  color: #935afd;
  font-weight: 600;
  font-family: 'lato', sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}